{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ player.first_name}} {{player.last_name}}</h1>

  <p><strong>kino_ame:</strong> <a href="">{{ kinoteatr.kino_name }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>kino_address:</strong> <a href="">{{ kinoteatr.kino_address}}</a></p> <!-- author detail link not yet defined -->
  <p><strong>phone_number:</strong> <a href="">{{ kinoreatr.phone_address }}</a></p> <!-- author detail link not yet defined -->


{% endblock %}